name: Vercel Deploy

on:
  push:
    branches:
      - master
    paths:
      - 'packages/web/*'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: amondnet/vercel-action@v20
        with:
          vercel-token: eWW1cWSARBHhawHUdAVlBwJL # Required
          vercel-org-id: FF3tb6K1NmNEom3nzChQ25JF
          vercel-project-id: prj_aCIGh97osnbyxAJ8eWBZCmUzoGdU
